@{  
    ViewBag.Title = "Home Page";  
}  

<script>
    function loadPartialView() {
            $.ajax({
                url: "@Url.Action("MessagesList","Home")",
                type: 'POST',
                dataType: 'html',        
                cache: false,
                success: function (html) {
                     $("#partialContainer").html(html); 
                }
            });
        }
    function RefreshPartial(){
        //this will wait 1 seconds and then fire the load partial function
        setTimeout(function(){
            loadPartialView();
            //recall this function so that it will continue to loop
            RefreshPartial();
        }, 1000);
    }
    //initialize the loop
    RefreshPartial();
</script>

<h1>Flower Shop Business Chat</h1>  
  
<strong>Send a Message</strong>

<tr class="form-group">  
    @using (Html.BeginForm())  
    {  
        <table>   
            <tr>  
                <td> @Html.Label("Phone Number: ")  </td>
                <td> @Html.TextBox("Phone_Number") </td>  
            </tr> 
            
            <tr>  
                <td>@Html.Label("Message:")  </td>
                <td>@Html.TextBox("Message")  </td>
            </tr>  

            <tr>  
                <td>@Html.Label("Image Url:")  </td>
                <td>@Html.TextBox("Image")  </td>
            </tr>  
  
            <tr>  
                <td>  
                    <input type="submit" value="Send" class="btn-primary" />  
                </td>  
  
            </tr> 
        </table>  
    }  
</tr>

<br>

<div id="partialContainer">
    
    @Html.Partial("MessagesList")

</div>
